.example-card {
  width: 100%;
  max-width: 400px;
}

.example-full-width {
  width: 100%;
}

.chat-box {
  height: 400px;
  overflow: auto;
}

.chat-box::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.chat-box::-webkit-scrollbar-track {
  background: rgba(242, 242, 242, 0);
}
.chat-box::-webkit-scrollbar-thumb {
  background: rgba(221, 221, 221, 0);
  border-radius: 3px;
}
.chat-box:hover::-webkit-scrollbar-thumb {
  background: rgba(242, 242, 242, 1);
}
.chat-box.scrolling::-webkit-scrollbar-thumb,
.chat-box::-webkit-scrollbar-thumb:horizontal:hover,
.chat-box::-webkit-scrollbar-thumb:vertical:hover {
  background: rgba(153, 153, 153, 1);
}
.chat-box::-webkit-scrollbar-thumb:horizontal:active,
.chat-box::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(153, 153, 153, 1);
}
