<div class="container">
  <mat-card class="example-card">
    <mat-list>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search">
        </mat-form-field>
      </form>
      <mat-list-item *ngFor="let message of messages; let last = last;">
        <img matListAvatar src="../../assets/nerdflirt_logo.png" alt="...">
        <h3 matLine> {{message.from}} </h3>
        <p matLine>
          <span> {{message.subject}} </span>
          <span class="demo-2"> -- {{message.content}} </span>
        </p>
<!--        <mat-divider *ngIf="!last"></mat-divider>-->
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
